<form method="post" action="{{ path('app_formgrh_delete', {'id': formgrh.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formgrh.id) }}">
    <button class="btn">Delete</button>
</form>
