{% extends 'base.html.twig' %}

{% block title %}New Formgrh{% endblock %}

{% block body %}
    <h1>Create new Formgrh</h1>

    {{ include('formgrh/_form.html.twig') }}

    <a href="{{ path('app_formgrh_index') }}">back to list</a>
{% endblock %}
