{% extends 'base.html.twig' %}

{% block title %}New Formulaire{% endblock %}

{% block body %}
    <h1>Creer Formulaire</h1>

    {{ include('fgrh/_form.html.twig') }}

    <a href="{{ path('app_fgrh_index') }}">back to list</a>
{% endblock %}
